#header {
    margin-bottom: 50px;
}

h4{
    margin-bottom: 50px;
}

span {
    color: brown;
    justify-content: center;
    margin-left: 0%;
}

#usuario .botoes1{
    display: flex;
    flex-direction: column;
    align-self: center;
    align-items: center;
    align-content: center;margin-top: 10px;
    color: white;
    font-size: 24px;
    margin-left: 20%;
}

#usuario input{
    display: flex;
}

#usuario button{
    margin-top: 10px;
}

#usuario{
    margin-left: 10%;
}

h4{
    margin-left: 20%;
    align-content: center;
}

.Form{
    width: 100% !important;
}