#login {
    width: 70%;
    height: 70%;
    display: flex;
    flex-direction: column;
    box-shadow: none !important;
    border-color: transparent !important;
    margin-top: 0%;
    margin-bottom: 0%;
  }

  #login #login3lm {
    width: 250px;
    align-self: center;
    margin-top: 0% !important;
    margin-bottom: 50px;
  }

  #login #formlogin {
    width: 100%;
    background-color: linear-gradient(rgb(112, 112, 112), rgb(61, 61, 61));
    border-radius: 15px;
    align-self: center;
    margin-top: 20 px;
    background-color: transparent;
  }

  form {
    display: flex;
    flex-direction: column;
    align-self: center;
    width: 70% !important;
    height: 100%;
    background: transparent;
  }
  /* Container 2 Login */
  #login #contelogin2 {
    width: 70% !important;
    padding-bottom: 4px;
    padding-top: 4px !important;
    align-self: center;
  }

.botoes1{
    display: flex;
    flex-direction: column;
    align-self: center;
    align-items: center;
    align-content: center;
}

.botoes1 input{
margin-top: 50px;
color: white;
font-size: 24px;
}

.botoes1 button{
    margin-top: 10px;
}